{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}¬

{% block head %}
<link href="{{ url_for('static', filename='css/dropzone.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/dropzone-override.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="container">
   <h3>High Security Submissions</h3>
   <p class="small">We do not log unique identifying information of visitors to our website, but if you have privacy concerns in submitting photographs, we recommend using <a href="https://www.torproject.org/projects/torbrowser.html.en">Tor Browser.</a> For very high security submissions of photos or videos, you can use an anonymous dropbox called SecureDrop (launch instructions below). All files that we receive through SecureDrop are <a href="https://mat.boum.org/">scrubbed of metadata.</a></p>
   <a href="https://lucyparsonslabs.com/securedrop"><img src="{{url_for('static', filename='images/securedrop.png')}}"/> Launch SecureDrop Instructions</a>
</div>

{% endblock %}
